@media (max-width: 900px) {
  
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute; 
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
        /* nem aq funciona */
   
    }

    #page-home main {
        align-items: center;
        /* nao ta funcionando aq kkk coloquei la em cima  */
    }
    #page-search-results .cards {
        grid-template-columns: 1rf;
    }
    #page-search-results .cards img {
        height: 250px;
    }
}
@media (min-width: 1700px) {
    #page-home {
        background-position-x: 40vw;
    }

}

@media(max-height: 760px){
 #page-home {
     background-position-y: 200px;

 }
}
